/Dia_1-Importando_dados
/Dia_2-As_primeiras_manipulacoes
/Dia_3-Explorando_o_Datetime_dos_dados
/Dia_4-Continuando_a_explorar_os_dados
/Dia_5-Analisando_emprestimos_com_boxplot
/Dia_6-Novos_dados_novas_analises
/Dia_7-Apresentando_resultados_em_HTML